<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rexyrex.kakaoparser">

    <application
        android:allowBackup="false"
        android:alwaysRetainTaskState="true"
        android:icon="@mipmap/kakao_ic_launcher_analyze"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/kakao_ic_launcher_analyze_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ChatPeekActivity"></activity>
        <activity android:name=".Activities.PersonListActivity" />
        <activity android:name=".Activities.WordDetailAnalyseActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ChatStatsTabActivity"
            android:label="@string/title_activity_tab"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>